/* -----------------------------------------
  style_hm.css 0.15
  Home style
  part of Arduino Mega Server project
-------------------------------------------- */


/* main
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #555;
}

h1 {margin: 8px 0;	color: #6282A4;}
h2 {margin: 8px 0;	color: #6282A4; font-size: 24px;}
h3 {margin: 8px 0;	color: #6282A4; font-size: 22px;}
h4 {margin: 8px 0;	color: #6282A4; font-size: 20px;}
h5 {margin: 8px 0;	color: #6282A4; font-size: 18px;}

p {
 margin: 6px 0;
 line-height: 1.3em;
}

.text-big {
  font-size: 50px;
  font-weight: normal;
  color: #aaa;
}

.lead {
  margin: 15px 0;
  line-height: 1.1em;
  font-size: 22px;
}

.small {
  margin: 15px 0;
  font-size: 15px;
}

/* generic
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.center {
  text-align: center;
}

.clickable {
  cursor: pointer;
}

.no-border {
  border: none;
}

#ajax-request,
#ajax-response {
  display: none;
}

/* colors
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.red {color: #c00;}

.blacks      {color: #eee;    background: #222;}
.blues       {color: #fff;    background: #479DCF;}
.browns      {color: #fff;    background: #A47A2E;}
.grays       {color: #555;    background: #eee;}
.greens      {color: #fff;    background: #00AE00;}
.oranges     {color: #fff;    background: #FD8A07;}
.whites      {color: #555;    background: #fff;}

/* select
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

        .select {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cpath fill='%23000' fill-rule='evenodd' class='cls-1' d='M8,0L4.141,6.993,0.012,0.156Z'/%3E%3C/svg%3E%0A");
            background-repeat: no-repeat;
            background-color: #fff;
            display: block;
            border: 1px solid #a7a7a7;
            color: #32353a;
	    height: 28px;
            font: normal 16px/1.4 Arial, sans-serif;
            padding: 2px 10px 2px 10px;
            vertical-align: middle;
            border-radius: 3px;
            margin-top: 6px;
            outline: 0;
            -webkit-appearance: none;
            -moz-appearance: none;
            -ms-appearance: none;
            appearance: none !important;
        }
        .select::-ms-expand {
            display: none;
        }
        .select:focus,
        .select:active {
            border-color: #000;
            outline: 0;
        }
        .select--left {
            background-position: 13px center;
            padding-left: 30px;
        }
        .select--right {
            background-position: right 13px center;
            padding-right: 30px;
        }
.edit_txt {
    border:1px solid #9E9E9E;
    color: #000000;
    padding: 3px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 14px;
    font-family: Verdana;
    background: #FFF;
    border-radius: 3px;
    vertical-align: middle;
}

.input[type="text"] {
   border: 1px solid #cccccc; //???? ?????
   border-radius: 3px; //??????????? ????? (?????)
   -webkit-border-radius: 3px; //??????????? ????? (Google Chrome)
   -moz-border-radius: 3px; //??????????? ????? (FireFox)
   -khtml-border-radius: 3px; //??????????? ????? (Safari)
   background: #ffffff !important; // ?????????? ???????????, ??? ??? ? Chrome ??? ????????? ?????? ??? ????? ???? ??????
   outline: none; // ??????? ??????? ? ????????? ????(??????) ? ??????(?????)
   height: 24px; // ?????? ?? ???? ??????????
   width: 120px; // ?????? ?? ???? ??????????
   color: #cccccc; //???? ?????? ? ??????? ?????????
   font-size: 11px; // ?????? ??????
   font-family: Tahoma; // ????? ??????
}

.cell {
    vertical-align: middle;
    display: table-cell;
}

.input-radio {
  margin: 10px 0;
  font-size: 16px;
  background-color: #64A0E6;
  color: #fff;
  border: none;
  border-radius: 4px;
  
}

.edit_btn {
    border:1px solid #9E9E9E;
    color: #fff;
    padding: 5px 10px;
    margin-top: 7px;
    margin-bottom: 2px;
    font-size: 14px;
    font-family: Verdana;
    background: #64A0E6;
    border-radius: 3px;
    vertical-align: middle;
}

.input[type="button"] {
  margin: 8px 0 3px;
  padding: 5px 10px;
  font-size: 16px;
  background: #64A0E6;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  -webkit-border-radius: 4px; //??????????? ????? (Google Chrome)
  -moz-border-radius: 4px; //??????????? ????? (FireFox)
  -khtml-border-radius: 4px; //??????????? ????? (Safari)

}
input[type="button"]:hover {
  background-color: #5496D6;
}

/* table generic
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.table-generic {
  width: 100%;
  text-align: center;
}

.table-generic p {
  margin: 3px 0;
  padding-left: 10px;
}

.tr-title  {color: #777;}
.tr-color1 {background-color: #eee;}
.tr-color2 {background-color: #dedede;}

.td-first {
  text-align: left;
}

/* elements
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

ul {
  padding-left: 20px;
  padding-bottom: 10px;
}

/* buttons
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

button {
  margin: 8px 0 3px;
  padding: 5px 10px;
  font-size: 16px;
  background-color: #64A0E6;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #5496D6;
}

/* forms
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.textfield {
  height: 22px;
  font-size: 15px;
  text-align: center;
  color: #04A9AE;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.submit-button {
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 3px 14px 4px 14px;
  font-size: 15px;
  color: #fff;
  background: #AC7B74;
  border: 1px solid #9D6C65;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #eee;
  cursor: pointer;
}

.submit-button:hover {
  background: #00A0A5;
  border: 1px solid #01A6AB;
  box-shadow: none;
}

/* tab control */

.tab-control { /*Основной блок*/
	  border : none;
          width : 900px;
          height: 320px;
          margin-left : 0px;         
          padding : 0px;
}

.tab-header { /*Заголовки*/
	  font-family : "trebuchet ms", Verdana, Tahoma, Arial, Sans-Serif;
	  font-size : 18px;
	  border : none;
          width : 100%;
          height: 20px;
          margin : 0px;         
          padding : 0px; 
}

.tab-header > div { /*Отдельный заголовок*/
          border-left : 1px solid #ddd; 
          border-radius:5px 5px 0px 0;  
          box-shadow: 2px -2px 5px #777;
	  background-color : #fff;
          height: 20px;
          padding : 5px;
          margin-right : 2px; 
          float : left;
          cursor : pointer; 
}

.tab-header > div:hover { /*Текущий заголовок*/
          box-shadow: 2px -2px 5px #aaa;
          margin-right : 1px; 
          margin-left : 1px; 
}

.tab-body { /*Содержимое закладок*/
	  font-family : "trebuchet ms", Verdana, Tahoma, Arial, Sans-Serif;
	  font-size : 14px;
	  border : none;
          width : 100%;
          height: 300px;         
          margin : 0px;         
          padding : 0px;
          clear : both; 
}

.tab-body > div { /*Содержимое отдельной закладки*/
          border-bottom : 1px solid #ddd; 
          border-left : 1px solid #ddd; 
          border-radius:0 5px 15px 15px;  
          box-shadow: 2px -2px 5px #777;
	  background-color : #eee;
          display : none;
          overflow : auto;/*hidden; /Прокрутка запрещена, если она нужна, то следует поставить значение auto*/
          width : 100%;
          height: 100%;         
          padding : 25px;
}
